<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="admin-child-section">
              <div class="row admin-title-container">
                  <div class="col-md-12">
                      <h3>Orders Table</h3>
                  </div>
              </div>
              <div class="table-container">
                <div class="accordion" id="accordionExample">
                  <div class="card" *ngFor="let order of orders">
                    <div class="card-header" id="headingOne">
                        <div class="row order-info-row">
                          <div class="col-6 col-md-3 df-jcsb">
                              <img 
                                class="collapse-btn"
                                src="../../../assets/images/plus-icon.png" 
                                alt="plus-icon"
                                data-toggle="collapse" 
                                [attr.data-target]="'#'+order.id" 
                                aria-expanded="true" 
                                [attr.aria-controls]='order.id'
                              >
                            <div class="admin-order-date-row">
                              <p class="order-info-title">Order date</p>
                              <p>{{order.createdAt | date:'medium'}}</p>
                            </div>
                          </div>
                          <div class="col-6 col-md-2">
                              <p class="order-info-title">Total price</p>
                              <p>{{order.price}} AZN</p>
                          </div>
                          <div class="col-6 col-md-2">
                            <p class="order-info-title">Payment method</p>
                            <p>Card</p>
                          </div>
                          <div class="col-6 col-md-2">
                              <p class="order-info-title">About Order</p>
                              <p>{{ordersService.getOrderStatus(order.status)}}</p>
                          </div>
                          <div 
                            class="col-6 col-md-3" 
                            *ngIf="order.status !== status.Delivered && order.status !== status.CancelledByAdmin && order.status !== status.CancelledByCustomer">
                            <p 
                              class="btn btn-contact admin-btn mr-15" 
                              (click)="changeOrderStatus(order.id, order.status)">
                              {{getOrderActionNameInEng(order.status)}}
                            </p>
                            <p 
                              class="btn btn-contact admin-btn" 
                              (click)="changeOrderStatus(order.id, status.CancelledByCustomer)"
                            >Cancel</p>
                          </div>
                          <div 
                            class="col-6 col-md-3" 
                            *ngIf="order.status === status.Delivered"
                          >
                            <img src="../../../assets/images/success-icon-2.png" alt="success-icon" class="width-auto">
                          </div>
                          <div 
                            class="col-6 col-md-3" 
                            *ngIf="order.status === status.CancelledByAdmin || order.status === status.CancelledByCustomer"
                          >
                            <img src="../../../assets/images/error-icon-2.png" alt="error-icon" class="width-auto">
                          </div>
                      </div>
                    </div>
                
                    <div [id]='order.id' class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <h5>Customer Info</h5>
                        <div class="df-jcfs">
                          <p class="order-info-title mr-20">Name:</p>
                          <p>{{order.userInfo.name}}</p>
                        </div>
                        <div class="df-jcfs">
                          <p class="order-info-title mr-20">Email:</p>
                          <p>{{order.userInfo.email}}</p>
                        </div>
                        <div class="df-jcfs">
                          <p class="order-info-title mr-20">Phone:</p>
                          <p>{{order.phone}}</p>
                        </div>
                        <div class="df-jcfs">
                          <p class="order-info-title mr-20">Email:</p>
                          <p>{{order.addressDetails}}</p>
                        </div>
                        <h5>Order Products</h5>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Brandname</th>
                              <th>Price</th>
                              <th>Quantity</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let product of order.products; let id = index">
                              <td>{{id + 1}}</td>
                              <td>{{product.name}}</td>
                              <td>{{product.brandName}}</td>
                              <td>{{product.price}}</td>
                              <td>{{product.quantity}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #loading>
                <div class="loading-container">
                  <p class="text-center">Orders is loading</p>
                </div>
              </ng-template>
          </div>
      </div>
  </div>
</div>
