<div class="user-container">
    <div class="user-row">
        <div class="child-section-title-row p-0">
            <h2>{{ 'restorePassword' | translate }}</h2> 
        </div>
        <div class="message-container mt-22">
            <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
                <p>{{error}}</p>
            </div>
            <div class="alert alert-info" *ngIf="message">
                <p>{{message}}</p>
            </div>
        </div>
        <ng-container *ngIf="showOOBCodeContainer">
            <form [formGroup]="formOOBCode" (ngSubmit)="sendOOBCode()">
                <div class="contact-form-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contaxt-input-row">
                                <input
                                    type="email" 
                                    placeholder="{{ 'email' | translate }}" 
                                    formControlName="email"
                                    [ngClass]="{invalid: formOOBCode.get('email').touched && formOOBCode.get('email').invalid}"
                                >
                                <div 
                                    *ngIf="formOOBCode.get('email').touched && formOOBCode.get('email').invalid"
                                    class="validation"
                                >
                                    <small *ngIf="formOOBCode.get('email').errors.required">Email is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group flex-space-between">
                                <button type="submit" class="btn btn-contact width-100" [disabled]="formOOBCode.invalid || submitted">{{ 'sendOobCode' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="!showOOBCodeContainer">
            <form [formGroup]="formPassword" (ngSubmit)="sendPassword()">
                <div class="contact-form-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contaxt-input-row">
                                <input
                                    type="password" 
                                    placeholder="{{ 'password' | translate }}" 
                                    formControlName="password"
                                    [ngClass]="{invalid: formPassword.get('password').touched && formPassword.get('password').invalid}"
                                >
                                <div 
                                    *ngIf="formPassword.get('password').touched && formPassword.get('password').invalid"
                                    class="validation"
                                >
                                    <small *ngIf="formPassword.get('password').errors.required">Password is required</small>
                                    <small *ngIf="formPassword.get('password').errors.minlength">
                                        Password must be {{formPassword.get('password').errors.minlength.requiredLength}},
                                        now it is {{formPassword.get('password').errors.minlength.actualLength}}
                                    </small>
                                </div>
                            </div>
                            <div class="contaxt-input-row">
                                <input
                                    type="password" 
                                    placeholder="{{ 'confirmPassword' | translate }}" 
                                    formControlName="confirmPassword"
                                    [ngClass]="{invalid: formPassword.get('confirmPassword').touched && formPassword.get('confirmPassword').invalid}"
                                >
                                <div 
                                    *ngIf="formPassword.get('confirmPassword').touched && formPassword.get('confirmPassword').invalid"
                                    class="validation"
                                >
                                    <small *ngIf="formPassword.get('confirmPassword').errors.required">Confirm password is required</small>
                                    <small *ngIf="formPassword.get('confirmPassword').errors.mustMatch">Confirm password must be mutch</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group flex-space-between">
                                <button type="submit" class="btn btn-contact width-100" [disabled]="formPassword.invalid || submitted">{{ 'changePassword' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>
